/* General Styles */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  margin-bottom: 20px;
}

/* Habit List Styles */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

li label {
  margin-left: 10px;
}

/* Form Styles */
form {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

select {
  margin-right: 10px;
}

button {
  padding: 8px 12px;
  background-color: #4caf50;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Player Level and Experience Styles */
.level-container {
  margin-top: 20px;
  font-weight: bold;
}

.level-container span {
  margin-right: 10px;
}

/* Calendar Styles */
table {
  margin: 0 auto;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

.other-month {
  color: #ccc;
}

.day {
  position: relative;
  height: 100%;
}

.date {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.habit {
  display: block;
  margin-top: 5px;
  font-size: 12px;
}

/* Container Styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header {
  margin-bottom: 20px;
}

.calendar {
  margin-bottom: 20px;
}

.habits,
.add-habit {
  margin-top: auto;
  margin-bottom: 20px;
}

/* the tabs and tab content */
.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px; /* Add margin-top to create space between tabs and content */
}

.tab-button {
  color: #333;
  font-size: 16px;
}

.tab-button.active {
  background-color: #333;
  color: #fff;
}

.tab-button:hover {
  background-color: #ddd;
}

.tab-content {
  display: none;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
