<title>HabitMaster</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            text-align: center;
        }
        .header {
            margin-bottom: 20px;
        }
        .calendar {
            flex-grow: 1;
            margin-bottom: 20px;
        }
        .habits,
        .add-habit {
            margin-bottom: 20px;
        }
    </style>
