<div class="tab" id="tab1">
        <button class="tab-button" onclick="openTab(1)">Main Menu</button>
        <div class="tab-content">
            <div class="container">
                <div class="header">
                    <h1>Rise to the Top through Habit Tracking and Gamification</h1>
                </div>
            
                <div class="level-container">
                    <span>Level: 1</span>
                    <span>Experience: 0</span>
                </div>
            </div>
        </div>
    </div>
    