<!DOCTYPE html>
<html>
<head>
    <title>HabitMaster</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }
        .header {
            margin-bottom: 20px;
        }
        .calendar {
            margin-bottom: 20px;
        }
        .habits,
        .add-habit {
            margin-top: auto;
            margin-bottom: 20px;
        }
    </style>
    <script>
        function deleteHabit(habitId) {
            // Send an AJAX request to delete the habit
            fetch(`/delete/${habitId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
            .then(response => response.json())
            .then(data => {
                // Call the increase_experience() function
                fetch(`/increase_experience/${habitId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Experience increased!');
                    // Refresh the page to reflect the changes
                    location.reload();
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>    
</head>
<body>
    <div class="container">
        {% include 'includes/header.html' %}

        <div class="calendar">
            {% include 'includes/calendar.html' %}
        </div>

        <div class="habits">
            <h2>Your Habits:</h2>
            {% include 'includes/habits.html' %}
        </div>

        <div class="add-habit">
            <h2>Add a New Habit:</h2>
            <form action="{{ url_for('add_habit') }}" method="post">
                <select name="habit_index" required>
                    {% for index, habit in enumerate(top_habits) %}
                        <option value="{{ index }}">{{ habit }}</option>
                    {% endfor %}
                </select>            
                <button type="submit">Add Habit</button>
            </form>
        </div>

        <div class="level-container">
            <span>Level: {{ player.get_level() }}</span>
            <span>Experience: {{ player.get_experience() }}</span>
        </div>
            
        {% include 'includes/footer.html' %}
    </div>
</body>
</html>
