<!DOCTYPE html>
<html>
<head>
    {% include 'includes/header.html' %}
</head>
<body>
    <div class="tabs">
        {% include 'includes/tab1.html' %}

    {% include 'includes/tab2.html' %}

    {% include 'includes/tab3.html' %}
    </div>

    <script>
        function deleteHabit(habitId) {
            // Send an AJAX request to delete the habit
            fetch(`/delete/${habitId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
            .then(response => response.json())
            .then(data => {
                // Call the increase_experience() function
                fetch(`/increase_experience/${habitId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Experience increased!');
                    // Refresh the page to reflect the changes
                    location.reload();
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        function openTab(tabIndex) {
            // Get all tab buttons and tab contents
            var tabButtons = document.getElementsByClassName('tab-button');
            var tabContents = document.getElementsByClassName('tab-content');

            // Remove the 'active' class from all tab buttons and tab contents
            for (var i = 0; i < tabButtons.length; i++) {
                tabButtons[i].classList.remove('active');
                tabContents[i].style.display = 'none';
            }

            // Add the 'active' class to the selected tab button and display the corresponding tab content
            tabButtons[tabIndex - 1].classList.add('active');
            tabContents[tabIndex - 1].style.display = 'block';
        }
    </script>
</body>
</html>
